header#header-wrapper
  nav#nav-wrapper
    ul.navbar
      li.navbar-item
        a(href="#") about
      li.navbar-item
        a(href="#") websites
      li.navbar-item
        a(href="#") contact
        
